.LikeComponent{
  /* background-color:#c3c5cae0; */
  border: none;
  border-radius: 50%;
  font-family: "Gill Sans", sans-serif;
  background: rgba(255, 255, 255, 0.5);
  border:0.5px solid #e27fe2 ;
  color: #e27fe2;
  }
  
  .LikeComponent:hover{
    background-color:RGB(255,221,238);
  }
  
  .ClikedLike{
    background-color:RGB(255,221,238);
    color: #f158f1;
  }
