
:root {
  --imgSize:50px;
  --second-color: #ff7;
}
body{
@apply  bg-pink-50
}




.imagediv{
  display: inline-flex;
  background-color: #4251db34;
  border-radius: 50%;
  width:50px;
  height: 50px;
  vertical-align: middle;
}
.imageSource{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 100%;
}



